@charset "utf-8";

.section {width: 80%;margin:40px auto 40px auto;text-align: center;}
.section-cont {margin-top: 30px;}
.badlaw-wrap {margin-top: 30px;}
.badlaw-cont ul {display: flex;display:-ms-flexbox;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.badlaw-cont ul:not(:first-child) {margin-top: 40px;}
.badlaw-cont ul li:first-child {width: 50%;}
.badlaw-cont ul li:not(:last-child) {margin-right:20px;}
.badlaw-cont ul li:first-child .refer-wrap {margin-top:20px;}
.btn-url {padding:10px; border:1px solid black;border-radius: 4px;}

@media (max-width: 768px){
    /* .badlaw-cont ul {flex-direction: column;-ms-flex-direction: column;} */
    .badlaw-cont ul li {margin-top: 20px;}
    .badlaw-cont ul li:not(:last-child) {margin: 0;margin-right: 10px;}
    .badlaw-cont ul li+li{margin-top:40px;}
}